h1 {
    color: white;
}

nav {
    float: center;
}

nav li {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
}

header {
    color: white;
    background-color: cornflowerblue;
}


span.openingline {
    font-weight: 600;
}

footer {
    color: white;
    background-color: blue;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  * {box-sizing: border-box;}

  .container {  
    border: 5px solid rgb(111,41,97);
    border-radius: .5em;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .container .item {
    width: 300px;
    height: 600px;
    padding: 10px;
    margin: auto;
    background-color: rgba(111,41,97,.3);
    border: 2px solid rgba(111,41,97,.5);
    text-align: center;
    overflow: scroll;
  }
  .item:hover {
    background-color: blue;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  }

 /* rachel andrew video */